<body class="min-w-screen min-h-screen" [ngClass]="{ 'dark bg-gray-800': darkMode()}">
  <header>
    <mtl-navbar>
      <!-- <mtl-navbar-dropdown text="Datos">
        <mtl-navbar-item text="Accordion" path="/accordion"></mtl-navbar-item>
        <mtl-navbar-item text="Modal" path="/modal"></mtl-navbar-item>
        <mtl-navbar-item text="Tabs" path="/tabs"></mtl-navbar-item>
      </mtl-navbar-dropdown>
      <mtl-navbar-dropdown text="Directivas"></mtl-navbar-dropdown>
      <mtl-navbar-dropdown text="Formularios">
        <mtl-navbar-item text="Button" path="/button"></mtl-navbar-item>
        <mtl-navbar-item text="Dropdown" path="/dropdown"></mtl-navbar-item>
        <mtl-navbar-item text="Toggle" path="/toggle"></mtl-navbar-item>
      </mtl-navbar-dropdown>
      <mtl-navbar-dropdown text="Utilidades"></mtl-navbar-dropdown>
      <mtl-navbar-dropdown text="Otros">
        <mtl-navbar-item text="Toast" path="/toast"></mtl-navbar-item>
      </mtl-navbar-dropdown> -->
    </mtl-navbar>
  </header>
  <main>
    <div class="mx-auto max-w-[90rem] px-4 py-10 sm:px-6 md:px-8">
      <div
        class="sidebar  hidden lg:block fixed z-20 inset-0 top-[6.5rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto">
        <mtl-sidebar [items]="sideBarItems"></mtl-sidebar>
      </div>
      <div class="content lg:pl-[19.5rem]">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</body>