<div class="button-showcase">
  <mtl-base-showcase title="<mtl-button></mtl-button>">
    <div examples class="flex flex-col gap-3">
      <div class="example1">
        <p class="text-indigo-500 font-bold">Ejemplo 1: Tipo 'default', size 'big'</p>
        <mtl-button (action)="clickAction()" type="default" size="big">Texto</mtl-button>
      </div>
      <div class="example2">
        <p class="text-indigo-500 font-bold">Ejemplo 2: Tipo 'save', size 'medium'</p>
        <mtl-button (action)="clickAction()" type="save" size="medium">Texto</mtl-button>
      </div>
      <div class="example3">
        <p class="text-indigo-500 font-bold">Ejemplo 3: Tipo 'danger', size 'small'</p>
        <mtl-button (action)="clickAction()" type="danger" size="small">Texto</mtl-button>
      </div>
      <div class="example4">
        <p class="text-indigo-500 font-bold">Ejemplo 4: Float (Esquina inferior derecha)</p>
        <mtl-button (action)="clickAction()" [float]="true" type="danger">
          <i class="fa-solid fa-user"></i>
        </mtl-button>
      </div>
      <div class="example5">
        <p class="text-indigo-500 font-bold">Ejemplo 5: Disabled</p>
        <mtl-button [disabled]="true" (action)="clickAction()">Texto</mtl-button>
      </div>
    </div>

    <div code>
      <mtl-tabs>
        <mtl-tab-item title="HTML">
          <pre>
            <code>
&lt;div class=&quot;example1&quot;&gt;
  &lt;p class=&quot;text-indigo-500 font-bold&quot;&gt;Ejemplo 1: Tipo 'default', size 'big'&lt;/p&gt;
  &lt;mtl-button (action)=&quot;clickAction()&quot; type=&quot;default&quot; size=&quot;big&quot;&gt;Texto&lt;/mtl-button&gt;
&lt;/div&gt;
&lt;div class=&quot;example2&quot;&gt;
  &lt;p class=&quot;text-indigo-500 font-bold&quot;&gt;Ejemplo 2: Tipo 'save', size 'medium'&lt;/p&gt;
  &lt;mtl-button (action)=&quot;clickAction()&quot; type=&quot;save&quot; size=&quot;medium&quot;&gt;Texto&lt;/mtl-button&gt;
&lt;/div&gt;
&lt;div class=&quot;example3&quot;&gt;
  &lt;p class=&quot;text-indigo-500 font-bold&quot;&gt;Ejemplo 3: Tipo 'danger', size 'small'&lt;/p&gt;
  &lt;mtl-button (action)=&quot;clickAction()&quot; type=&quot;danger&quot; size=&quot;small&quot;&gt;Texto&lt;/mtl-button&gt;
&lt;/div&gt;
&lt;div class=&quot;example4&quot;&gt;
  &lt;p class=&quot;text-indigo-500 font-bold&quot;&gt;Ejemplo 4: Float (Esquina inferior derecha)&lt;/p&gt;
  &lt;mtl-button (action)=&quot;clickAction()&quot; [float]=&quot;true&quot; type=&quot;danger&quot;&gt;
    &lt;i class=&quot;fa-solid fa-user&quot;&gt;&lt;/i&gt;
  &lt;/mtl-button&gt;
&lt;/div&gt;
&lt;div class=&quot;example5&quot;&gt;
  &lt;p class=&quot;text-indigo-500 font-bold&quot;&gt;Ejemplo 5: Disabled&lt;/p&gt;
  &lt;mtl-button [disabled]=&quot;true&quot; (action)=&quot;clickAction()&quot;&gt;Texto&lt;/mtl-button&gt;
&lt;/div&gt;
            </code>
          </pre>
        </mtl-tab-item>
        <mtl-tab-item title="TS">
          <pre>
            <code>
import &#123; Component &#125; from '@angular/core';
import &#123; CommonModule &#125; from '@angular/common';
import &#123; MtlButtonComponent &#125; from '@moontech-components';

@Component(&#123;
  selector: 'mtl-button-showcase',
  standalone: true,
  imports: [
    CommonModule, 
    MtlButtonComponent,
  ],
  templateUrl: './button-showcase.component.html',
&#125;)
export class ButtonShowcaseComponent &#123;
  clickAction (): void &#123;
    console.log('Button clicked');
  &#125;
&#125;
            </code>
          </pre>
        </mtl-tab-item>
      </mtl-tabs>
    </div>

    <div inputs>
      <table class="table border">
        <thead class="bg-gray-800 text-white dark:bg-indigo-600">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Valor por defecto</th>
            <th>Posibles valores</th>
          </tr>
        </thead>
        <tbody class="dark:text-white">
          <tr>
            <td>type</td>
            <td>Color del botón</td>
            <td>enum</td>
            <td>'default'</td>
            <td>
              <ul>
                <li>'default'</li>
                <li>'save'</li>
                <li>'danger'</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>float</td>
            <td>Determina si el botón es flotante</td>
            <td>boolean</td>
            <td>false</td>
            <td></td>
          </tr>
          <tr>
            <td>floatPosition</td>
            <td>Determina la esquina en la que se muestra el botón</td>
            <td>MtlButtonFloatPosition</td>
            <td>BOTTOM_RIGHT</td>
            <td>
              <ul>
                <li>BOTTOM_RIGHT</li>
                <li>BOTTOM_LEFT</li>
                <li>TOP_RIGHT</li>
                <li>TOP_LEFT</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>disabled</td>
            <td>Estado del botón</td>
            <td>boolean</td>
            <td>false</td>
            <td></td>
          </tr>
          <tr>
            <td>size</td>
            <td>Tamaño del botón</td>
            <td>enum</td>
            <td>'medium'</td>
            <td>
              <ul>
                <li>'small'</li>
                <li>'medium'</li>
                <li>'big'</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div outputs>
      <table class="table border">
        <thead class="bg-gray-800 text-white dark:bg-indigo-600">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Valor devuelto</th>
          </tr>
        </thead>
        <tbody class="dark:text-white">
          <tr>
            <td>action</td>
            <td>Acción al clicar el botón</td>
            <td>MouseEvent</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mtl-base-showcase>
</div>